{% extends 'base.html' %}
<!-- -->
<!-- this is the ocat data parameter value input pdate -->
<!-- -->

<!-- -->
<!-- import html macros -->
<!-- -->
{%  from 'ocatdatapage/macros.html' import val_disp, create_entry %}
{%  from 'ocatdatapage/macros.html' import window_popup_opener %}
{%  from 'ocatdatapage/macros.html' import map_image_opener, help_popup_page %}
{%  from 'ocatdatapage/macros.html' import asis_button, hidden_input, fill_hidden_ranks %}
{% import 'bootstrap/wtf.html' as wtf %}
<!-- -->
<!-- setting a few parameters -->
<!-- -->
{% set null_list = ['','N', 'NO', 'NULL', 'NA', 'NONE', 'n', 'No', 'Null', 'Na', 'None', None] %}
{% set cdo_http  = 'https://icxc.cfa.harvard.edu/cgi-bin/cdo/' %}
{% set cda_http  = 'https://cda.cfa.harvard.edu/chaser/startViewer.do?menuItem=sequenceSummary&obsid=' %}

{% block title %}Ocat Data Page{% endblock %}
{% block main_title %}Ocat Data Page{% endblock %}
{% block app_content %}

{% set sobsid = ct_dict.get('obsid')[-1] | string %}
{% set hlink  = cda_http + sobsid %}
<!-- -->
<!-- if there are any warnings, display here -->
<!-- -->
    {% if warning != '' %}
        <h3 style='color:#db1709;'>{{ warning }}</h3>
    {% else %}
        {% if ct_dict.get('status')[-1] in ['unobserved', 'scheduled', 'untriggered'] and ct_dict.get('approved')[-1] == 1 %}
            <h3 style='color:#db1709;'>This Observation Is Already On the Approved List</h3>
        {% endif %}
    {% endif %}
<!-- -->
<!-- if something went wrong with updating the data file... --->
<!-- -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p style='color:red; font-size:160%;'>
                {{ message }}
            </p>
        {% endfor %}
    {% endif %}
{% endwith %}
        
<!-- -->
<!-- a popup help page link -->
<!-- -->
    <p>
    <b>A brief description of the listed parameters is given in: 
    {{ help_popup_page('../static/ocatdatapage/user_help.html', 'Ocat Data Help') }}
   </b>
    </p>
<!-- -->
<!-- DSS/ROSAT/RASS map links -->
<!-- -->
    <table>
        <tr>
        <th class='link1'>{{ map_image_opener('dss',   'magenta', ct_dict) }}</th>
        <td>&#160;</td>
        <th class='link1'>{{ map_image_opener('rosat', 'orange',  ct_dict) }}</th>
        <td>&#160;</td>
        <th class='link1'>{{ map_image_opener('rass',  'yellow',  ct_dict) }}</th>
        </tr>
    </table>
<!-- -->
<!-- observation summary table link -->
<!-- -->
    <p style='padding-top:10px;'>
    {{ help_popup_page(hlink, 'Sequence  # Summary', 120, 'seq_nbr') }}
    (with Roll/Pitch/Visibility Plots)
    </p>

<!-- -->
<!-- form start here -->
<!-- -->
    <form action ='' method='post' >
        {{ form.csft_token }}
        {{ form.name }}

    <hr>
    {{ hidden_input('obsid', ct_dict) }}

<!-- -->
<!-- General Parameters -->
<!-- -->
    <h2>General Parameters
    {{ help_popup_page('../static/ocatdatapage/user_help.html#general_parameters', ' (Help)', 55) }}
    </h2>
    <table border=0>
        <tr>
        <th>Sequence Number:    </th>
        <td>
            <a href="javascript:WindowOpener('{{ hlink }}','seq_nbr')">
                {{ ct_dict.get('seq_nbr')[-1] }}
            </a>
        </td>
        {{ create_entry('status',           ct_dict) }}
        {{ create_entry('obsid',            ct_dict) }}
        {{ create_entry('proposal_number',  ct_dict) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry('proposal_title', ct_dict) }} 
        </tr>
        <tr>
        {{ create_entry('obs_ao_str',     ct_dict) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry('targname',   ct_dict, len=20) }}
        {{ create_entry('si_mode',    ct_dict) }}
        {{ create_entry('aca_mode',   ct_dict) }}
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry('instrument', ct_dict) }}
        {{ create_entry('grating',    ct_dict) }}
        {{ create_entry('type',       ct_dict) }}
        </tr>
        <tr>
        <td colspan="6" style="padding-left:5px">
        Click <input type='submit' name='check'  value='Refresh'>
        to unlock ACIS/HRC Parameter options after updating Instrument.
        </td>
        </tr>
    </table>
    <table vorder=0>
        <tr>
        {{ create_entry('pi_name',    ct_dict) }}
        {{ create_entry('observer',   ct_dict) }}
        </tr>
        <tr>
        {{ create_entry('approved_exposure_time', ct_dict) }}<td style='text-align:left;'>(ksec)</td>
        {{ create_entry('rem_exp_time',           ct_dict) }}<td>(ksec)</td>
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry('proposal_joint', ct_dict) }}
        </tr>
    </table>
        <div style='margin-left:40px;'>
        <table border=0>
            <tr>
            {{ create_entry('proposal_hst',  ct_dict) }}
            <td>&#160;</td>
            {{ create_entry('proposal_noao', ct_dict) }}
            </tr>
            <tr>
            {{ create_entry('proposal_xmm',  ct_dict) }}
            <td>&#160;</td>
            {{ create_entry('proposal_rxte', ct_dict) }}
            </tr>
            <tr>
            {{ create_entry('proposal_vla',  ct_dict) }}
            <td>&#160;</td>
            {{ create_entry('proposal_vlba', ct_dict) }}
            </tr>
        </table>
        </div>
    <table>
        <tr>
        {{ create_entry('soe_st_sched_date', ct_dict) }}
        {{ create_entry('lts_lt_plan',       ct_dict) }}
        </tr>
    </table>

    <p style='padding-top:20px'>
    If you'd like to see the current viewing orientation, open: 
            {{ map_image_opener('dss',   'blue', ct_dict) }},
            {{ map_image_opener('rosat', 'blue', ct_dict) }},
            {{ map_image_opener('rass',  'blue', ct_dict) }}
    (Note: These figures do not always exist.)
    </p>
    <table border=0>
        <tr>
        {{ create_entry('dra',          ct_dict) }}
        {{ create_entry('ddec',         ct_dict) }}
        {{ create_entry('planned_roll', ct_dict) }}
        </tr>
        <tr>
        {{ create_entry('ra',           ct_dict) }}
        {{ create_entry('dec',          ct_dict) }}
        {{ create_entry('soe_roll',     ct_dict) }}
        </tr>
    </table>
    <p style="padding-top:10px">
    Enter RA and Dec in HMS/DMS format (separated by colons, 
    e.g. 16:22:04.8 -27:43:04.0) then click:
    <input type='submit' name='check'  value='Refresh'>
    to update the decimal RA/Dec values.
    </p>
    <table border=0>
        <tr>
        {{ create_entry('y_det_offset', ct_dict) }}<td>(arcmin)</td>
        {{ create_entry('z_det_offset', ct_dict) }}<td>(arcmin)</td>
        </tr>
        <tr>
        {{ create_entry('trans_offset', ct_dict) }}<td>(mm, not arcmin!)</td>
        {{ create_entry('focus_offset', ct_dict) }}<td>(mm)</td>
        </tr>
        <tr>
        {{ create_entry('raster_scan',  ct_dict) }}
        <td cellspan=2> &#160;</td>
        </tr>
    </table>
    <table border=0>
        <tr>
        {{ create_entry('uninterrupt',  ct_dict) }}
        {{ create_entry('extended_src', ct_dict) }}
        </tr>
        <tr>
        {{ create_entry('obj_flag',         ct_dict) }}
        {{ create_entry('object',           ct_dict) }}
        </tr>
        <tr>
        {{ create_entry('photometry_flag',  ct_dict) }}
        {{ create_entry('vmagnitude',       ct_dict) }}
        </tr>
        <tr>
        {{ create_entry('est_cnt_rate',     ct_dict) }}
        {{ create_entry('forder_cnt_rate',  ct_dict) }}
        </tr>
    </table>

    <hr>
<!-- -->
<!-- Dither -->
<!-- -->
    <h2>Dither
    {{ help_popup_page('../static/ocatdatapage/user_help.html#dither_flag', ' (Help)', 55) }}
    </h2>
    {% if ct_dict.get('dither_flag')[-1] in null_list %}
        <input type='submit' name='dither_edit' value='Open to Edit'>

    {% else %}
        {{ create_entry('dither_flag',  ct_dict) }}
        <div style='margin-left:40px;'>
            <table border=0>
                <tr>
                {{ create_entry('y_amp_asec',   ct_dict) }}
                {{ create_entry('y_freq_asec',  ct_dict) }}
                {{ create_entry('y_phase',      ct_dict) }}
                </tr>
                <tr>
                {{ create_entry('y_amp',        ct_dict) }}
                {{ create_entry('y_freq',       ct_dict) }}
                <td colspan=2>&#160;</td>
                </tr>
    
                <tr>
                {{ create_entry('z_amp_asec',   ct_dict) }}
                {{ create_entry('z_freq_asec',  ct_dict) }}
                {{ create_entry('z_phase',      ct_dict) }}
                </tr>
                <tr>
                {{ create_entry('z_amp',        ct_dict) }}
                {{ create_entry('z_freq',       ct_dict) }}
                <td colspan=2>&#160;</td>
                </tr>
            </table>
        </div>

        <p style='padding-top:10px;'>
        To reflect the changes made in arcsec windows to degree displays or Dither YES/NO/NA confirmation, click:
        <input type='submit' name='check'  value='Refresh'>
        </p>
    {% endif %}

    <hr>
<!-- -->
<!-- Time Constraint -->
<!-- -->
    <h2>Time Constraints
    {{ help_popup_page('../static/ocatdatapage/user_help.html#time_constraints', ' (Help)', 55) }}
    </h2>
    <p>{{ help_popup_page('../static/ocatdatapage/ranked_entries.html', 'How To Change The Same Parameter Values In Multiple ObsIDs: Ranked Entries for Constraints')}}</p>

    {% if ct_dict.get('window_flag')[-1] in null_list %}
            <input type='submit' name='window_edit' value='Open to Edit'>

    {% else %}
        <p>
        If you want to add ranks, press "Add Time Rank." 
        If you want to remove a rank, set "Window Constraint" to "NA", 
        then press "Remove NA Time Entry."
        </p>
        <p>
        <b>Rank: </b>
        <input type='submit' name='check', value='Add Time Rank'>
        <input type='submit' name='check', value='Remove NA Time Entry'>
        </p>
        <div style='margin-left:40px'>
        <table border=0>
            <tr>
            <th style='padding-right:10px;'>Rank</th><th>Window Constraint</th><th>&#160;</th>
            <th>Month</th><th>Date</th><th>Year</th><th>Time (24 hr system)</th>
            </tr>
            {% set order = namespace(value=0) %}
            {% for k in range(0, 10) %}
                {% if ct_dict.get('window_constraint')[-1][k] != 'NA' %}
                    {% set order.value = order.value + 1%}
                    {% set rank = order.value| string %}
                    <tr>
                    <th>{{ rank }}</th>
                    <td>{{ val_disp('window_constraint', ct_dict, rank=k) }} </td>
                    <th>Start</th>
                    <td>{{ val_disp('tstart_month', ct_dict, rank=k) }} </td>
                    <td>{{ val_disp('tstart_date',  ct_dict, rank=k) }} </td>
                    <td>{{ val_disp('tstart_year',  ct_dict, rank=k) }} </td>
                    <td>{{ val_disp('tstart_time',  ct_dict, rank=k) }} </td>
                    </tr>
                    <tr>
                    <th>&#160;</th>
                    <td>&#160;</td>
                    <th>Stop</th>
                    <td>{{ val_disp('tstop_month',  ct_dict, rank=k) }} </td>
                    <td>{{ val_disp('tstop_date',   ct_dict, rank=k) }} </td>
                    <td>{{ val_disp('tstop_year',   ct_dict, rank=k) }} </td>
                    <td>{{ val_disp('tstop_time',   ct_dict, rank=k) }} </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        </div>

    {% endif %}
    {{ hidden_input('window_flag', ct_dict) }}
    {{ hidden_input('time_ordr',   ct_dict) }}
    {% for tparam in ['window_constraint', 'tstart_month', 'tstart_date', 'tstart_year', 
                      'tstart_time', 'tstop_month', 'tstop_date', 'tstop_year', 'tstop_time'] %}
        {{ fill_hidden_ranks(tparam, ct_dict,  ct_dict.get('time_ordr')[-1]) }}
    {% endfor %}

    <hr>
<!-- -->
<!-- Roll Constraint -->
<!-- -->
    <h2>Roll Constraints
    {{ help_popup_page('../static/ocatdatapage/user_help.html#roll_constraints', ' (Help)', 55) }}

    </h2>
    <p>{{ help_popup_page('../static/ocatdatapage/ranked_entries.html', 'How To Change The Same Parameter Values In Multiple ObsIDs: Ranked Entries for Constraints')}}</p>

    {% if ct_dict.get('roll_flag')[-1] in null_list %}
            <input type='submit' name='roll_edit' value='Open to Edit'>

    {% else %}

        <p>
        If you want to add ranks, press "Add Roll Rank." 
        If you want to remove a rank, set "Rank" to "NA", 
        then press "Remove NA Roll Entry."
        </p>
        <p>
        <b>Rank: </b>
        <input type='submit' name='check', value='Add Roll Rank'>
        <input type='submit' name='check', value='Remove NA Roll Entry'>
        </p>
        <div style='margin-left:40px;'>
        <table border=0>
            <tr>
            <th style='padding-right:10px;'>Rank</th><th>Type of Constraint</th>
            <th>Roll 180?</th><th>Roll</th><th>Roll Tolerance</th>
            </tr>
            {% set order = namespace(value=0) %}
            {% for k in range(0, 10) %}
                {% if ct_dict.get('roll_constraint')[-1][k] != 'NA' %}
                    {% set order.value = order.value + 1%}
                    {% set rank = order.value| string %}
                    <tr>
                    <th>{{ rank }}</th>
                    <td>{{ val_disp('roll_constraint', ct_dict, rank=k) }}</td>
                    <td>{{ val_disp('roll_180',        ct_dict, rank=k) }}</td>
                    <td>{{ val_disp('roll',            ct_dict, rank=k) }}</td>
                    <td>{{ val_disp('roll_tolerance',  ct_dict, rank=k) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
        </div>

    {% endif %}
    {{ hidden_input('roll_flag', ct_dict) }}
    {{ hidden_input('roll_ordr', ct_dict) }}
    {% for tparam in ['roll_constraint', 'roll_180', 'roll', 'roll_tolerance'] %}
        {{ fill_hidden_ranks(tparam, ct_dict,  ct_dict.get('roll_ordr')[-1]) }}
    {% endfor %}

    <hr>
<!-- -->
<!-- Other Constraints -->
<!-- -->
    <h2>Other Constraints
    {{ help_popup_page('../static/ocatdatapage/user_help.html#other_constraints', ' (Help)', 55) }}

    </h2>

    <table border=0>
        <tr>{{ create_entry('constr_in_remarks',        ct_dict) }}</tr>
        <tr>{{ create_entry('pointing_constraint',      ct_dict) }}</tr>
        {% if ct_dict.get('phase_constraint_flag')[-1] in ['Y', 'P'] %}
            <tr>
            {{ create_entry('phase_constraint_flag',    ct_dict) }}
            <table bordr =0>
                <tr>
                    {{ create_entry('phase_epoch',          ct_dict) }}
                    {{ create_entry('phase_period',         ct_dict) }}
                </tr>
                <tr>
                    {{ create_entry('phase_start',          ct_dict) }}
                    {{ create_entry('phase_start_margin',   ct_dict) }}
                </tr>
                <tr>
                    {{ create_entry('phase_end',            ct_dict) }}
                    {{ create_entry('phase_end_margin',     ct_dict) }}
                </tr>
            </table>
            </tr>
            </table>
            <table bordr=0>
        {% else %}
            <tr>{{ create_entry('phase_constraint_flag',    ct_dict) }}</tr>
        {% endif %}
            
        <tr>
            {{ create_entry('group_id',                 ct_dict) }}
            {{ create_entry('monitor_flag',             ct_dict) }}
        </tr>
        <tr>
        {% if not ct_dict.get('group_id')[-1] in null_list %}
            <th>Remaining Observations in the Group: </th>
            <td colspan=3>
                {% if ct_dict.get('group_obsid')[-1]|length > 0 %}
                    {% for ent in ct_dict.get('group_obsid')[-1] %}
                        <span style='padding-left:5px;'></span>
                        <a href='../ocatdatapage/{{ ent }} '>{{ ent }}</a> 
                    {% endfor %}
                {% else %}
                    <i style='padding-left:10px;'>NA</i>
                {% endif %}
            </td>
        {% elif ct_dict.get('monitor_flag')[-1] == 'Y' %}
            <th>Remaining Observation in the Monitoring: </th>
            <td colspan=3>
                {% if ct_dict.get('monitor_series')[-1]|length > 0 %}
                    {% for ent in ct_dict.get('monitor_series')[-1] %}
                        <span style='padding-left:5px;'></span>
                        <a href='../ocatdatapage/{{ ent }} '>{{ ent }}</a> 
                    {% endfor %}
                {% else %}
                    <i style='padding-left:10px;'>NA</i>
                {% endif %}
            </td>
        {% else %}
            <td></td>
        {% endif %}
        </tr>
    
        <tr>
            {{ create_entry('pre_id',                   ct_dict) }}
            {{ create_entry('pre_min_lead',             ct_dict) }}
        </tr>
        <tr>
            <td colspan=2>&#160;</td>
            {{ create_entry('pre_max_lead',             ct_dict) }}
        </tr>
        <tr>
            {{ create_entry('multitelescope',           ct_dict) }}
            {{ create_entry('observatories',            ct_dict) }}
        </tr>
        <tr>
            {{ create_entry('multitelescope_interval',  ct_dict) }}
            <td colspan=2>&#160;</td>
        </tr>
    </table>

    <hr>
<!-- -->
<!-- HRC Parameters -->
<!-- -->
    <h2>HRC Parameters
    {{ help_popup_page('../static/ocatdatapage/user_help.html#hrc_parameters', ' (Help)', 55) }}

    {% if not ct_dict.get('instrument')[-1] in ['HRC-I', 'HRC-S'] %}
        <h3>
            ObsID {{ct_dict.get('obsid')[-1] }} is not an HRC observation. Instrument {{ct_dict.get('instrument')[-1]}} is selected.
        </h3>
    {% else %}
    </h2>
    <table border=0>
        <tr>    
        {{ create_entry('hrc_timing_mode',    ct_dict) }}
        {{ create_entry('hrc_zero_block',     ct_dict) }}
        {{ create_entry('hrc_si_mode',        ct_dict) }}
    </table>
    {% endif %}
    <input type='hidden', name='hrc_open', value='{{ ct_dict.get('hrc_open')[-1] }}'>

    <hr>
<!-- -->
<!-- ACIS Parameters -->
<!-- -->
    <h2>ACIS Parameters
    {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_parameters', ' (Help)', 55) }}
    </h2>
    {% if not ct_dict.get('instrument')[-1] in ['ACIS-I', 'ACIS-S'] %}
        <h3>
            ObsID {{ct_dict.get('obsid')[-1] }} is not an ACIS observation. Instrument {{ct_dict.get('instrument')[-1]}} is selected.
        </h3>
    {% else %}
        <table>
            <tr>
            {{ create_entry('exp_mode',            ct_dict) }}
            {{ create_entry('bep_pack',            ct_dict) }}
            {{ create_entry('frame_time',          ct_dict) }}
            </tr>
            <tr>
            <td colspan=4>&#160;</td>
            {{ create_entry('most_efficient',      ct_dict) }}
            </tr>
        </table>
        <table>
            <tr>
            {{ create_entry('dropped_chip_count',   ct_dict) }}
            <tr>
        </table>
    
        <table>
            <tr>
            <td colspan=4>&#160;</td>
            {{ create_entry('ccdi0_on',             ct_dict) }}
            {{ create_entry('ccdi1_on',             ct_dict) }}
            <td colspan=4>&#160;</td>
            </tr>
            <tr>
            <td colspan=4>&#160;</td>
            {{ create_entry('ccdi2_on',             ct_dict) }}
            {{ create_entry('ccdi3_on',             ct_dict) }}
            <td colspan=4>&#160;</td>
            </tr>
            <tr>
            {{ create_entry('ccds0_on',             ct_dict) }}
            {{ create_entry('ccds1_on',             ct_dict) }}
            {{ create_entry('ccds2_on',             ct_dict) }}
            {{ create_entry('ccds3_on',             ct_dict) }}
            {{ create_entry('ccds4_on',             ct_dict) }}
            {{ create_entry('ccds5_on',             ct_dict) }}
            </tr>
        </table>
    
        <div style='padding-top:20px;'></div>
        <table>
            <tr>
            {{ create_entry('subarray',             ct_dict) }}
            <td colspan=4>
            <b>If you select YES, please fill the next two entries.</b>
            </td>
            </tr>
            <tr>
            {{ create_entry('subarray_start_row',   ct_dict) }}
            {{ create_entry('subarray_row_count',   ct_dict) }}
            <td>&#160;</td>
            </tr>
            <tr>
            {{ create_entry('duty_cycle',           ct_dict) }}
            <td colspan=4>
            <b>If you select YES, please fill the next two entries.</b>
            </td>
            </tr>
            <tr>
            {{ create_entry('secondary_exp_count',  ct_dict) }}
            {{ create_entry('primary_exp_time',     ct_dict) }}
            <td>&#160;</td>
            </tr>
            <tr>
            {{ create_entry('onchip_sum',           ct_dict) }}
            {{ create_entry('onchip_row_count',     ct_dict) }}
            {{ create_entry('onchip_column_count',  ct_dict) }}
            </tr>
            <tr>
            {{ create_entry('eventfilter',          ct_dict) }}
            {{ create_entry('eventfilter_lower',    ct_dict) }}
            {{ create_entry('eventfilter_higher',   ct_dict) }}
            </tr>
            <tr>
            {{ create_entry('multiple_spectral_lines', ct_dict) }}
            {{ create_entry('spectra_max_count',    ct_dict) }}
            </tr>
        </table>
    {% endif %}

    <input type='hidden', name='acis_open', value='{{ ct_dict.get("acis_open")[-1] }}'>

    <hr>
<!-- -->
<!-- ACIS Window Constraints -->
<!-- -->
    <h2>ACIS Window Constraints
    {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_window', ' (Help)', 55) }}
    </h2>
    {% if not ct_dict.get('instrument')[-1] in ['ACIS-I', 'ACIS-S'] %}
        <h3>ObsID {{ct_dict.get('obsid')[-1] }} is not an ACIS Observation. Instrument {{ct_dict.get('instrument')[-1]}} is selected.</h3>

    {% elif ct_dict.get('spwindow_flag')[-1] in null_list %}
        <input type='submit' name='awin_edit' value = 'Open to Edit'>

    {% else %}
        <p>
        If you want to add ranks, press "Add Window Rank." 
        If you want to remove a row, set <i>Chip</i> to "NA", then press "Remove NA Window Rank." 
        </p>
    
            <spacer type=horizontal size=30>
            <input type='submit', name='check' value='Add Window Rank'>
            <input type='submit', name='check' value='Remove NA Window Rank'>
    
        <p style='padding-top:20px; padding-bottom:10px;margin-left:20px; margin-right:20px;'>
        <b>Note</b>: By default, the sample rate is 0 and the window specified is an 
        <b>EXCLUSION</b> area. 
        To set an INCLUSION area, in ithe first window, set the sample rate to 1, and choose 
        a desired inclusion area.
        In the second window, set the sample rate to 0 and the window area to 1024 x 1024.
        For the case with the sample rate > 1, please refer to:
        {{ help_popup_page('../static/ocatdatapage/user_help.html#acis_window', 'Help') }}.
        </p>
    
    
        <table>
        <tr>
        <th>Ordr</th>
        <th style='padding-left:10px;'>Chip</th>
        <th>Start Row</th>
        <th>Start Column</th>
        <th>Height</th>
        <th>Width</th>
        <th>Lowest Energy</th>
        <th>Energy Range</th>
        <th>Sample Rate</th>
        {% set order = namespace(value=0) %}
        {% for k in range(0, 10) %}
            {% if ct_dict.get('chip')[-1][k] != 'NA' %}
                {% set order.value = order.value + 1%}
                {% set oval = order.value| string %}
                <tr>
                <th>{{ oval }}</th>
                <td>{{ val_disp('chip',             ct_dict, rank=k) }}</td>
                <td>{{ val_disp('start_row',        ct_dict, rank=k) }}</td>
                <td>{{ val_disp('start_column',     ct_dict, rank=k) }}</td>
                <td>{{ val_disp('height',           ct_dict, rank=k) }}</td>
                <td>{{ val_disp('width',            ct_dict, rank=k) }}</td>
                <td>{{ val_disp('lower_threshold',  ct_dict, rank=k) }}</td>
                <td>{{ val_disp('pha_range',        ct_dict, rank=k) }}</td>
                <td>{{ val_disp('sample',           ct_dict, rank=k) }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        </table>

    {% endif %}
    {{ hidden_input('spwindow_flag', ct_dict) }}
    {{ hidden_input('aciswin_no',    ct_dict) }}
    {% for tparam in ['chip', 'start_row', 'start_column', 'height', 
                      'width', 'lower_threshold', 'pha_range', 'sample'] %}
        {{ fill_hidden_ranks(tparam, ct_dict,  ct_dict.get('aciswin_no')[-1]) }}
    {% endfor %}

    <hr>
<!-- -->
<!-- TOO Parameters -->
<!-- -->
    <h2>TOO Parameters
    {{ help_popup_page('../static/ocatdatapage/user_help.html#too_parameters', ' (Help)', 55) }}
    </h2>
    {% if ct_dict.get('tooid')[-1] in null_list %}
        <h3>ObsID: {{ ct_dict.get('obsid')[-1]}} is not a DDT/TOO observation.</h3>
    {% else %}
        <table>
            <tr>
            {{ create_entry('tooid',        ct_dict) }}
            </tr>
            <tr>
            {{ create_entry('too_trig',     ct_dict) }}
            </tr>
            <tr>
            {{ create_entry('too_type',     ct_dict) }}
            </tr>
            <tr>
        </table>
        <table>
            <th colspan=4>
            Exact response window (days):
            <span style='padding-right:30px;'></span>
            </th>
            {{ create_entry('too_start',    ct_dict) }}
            {{ create_entry('too_stop',     ct_dict) }}
            </tr>
        </table>
        <table>
            <tr>
            {{ create_entry('too_followup', ct_dict) }}
            </tr>
            <tr>
            {{ create_entry('too_remarks',  ct_dict) }}
            </tr>
        </table>
    {% endif %}

    <hr>
<!-- -->
<!-- Comments and Remarks -->
<!-- -->
    <h2>Comments and Remarks
    {{ help_popup_page('../static/ocatdatapage/user_help.html#comments', ' (Help)', 55) }}
    </h2>
    <p>
    <strong>
    The remarks area below is reserved for remarks related to constraints, 
    actions/considerations that apply to the observation.
    Please put all other remarks/comments into the comment area below.
    </strong>
    </p>

    <table>
        <tr>
        <th>Remarks:</th>
        <td>
            <textarea id="remarks" name="remarks" rows="10" 
                      cols="60">{{ ct_dict.get('remarks')[-1] }}</textarea>
        </td>
        </tr>
    </table>

    <p>
   <strong> 
    Comments are kept as a record of why a change was made.
    <br />
    If a CDO approval is required, or if you have a special 
    instruction for ARCOPS, add the comment in this area.
    </strong> 
    </p>

    <table>
        <tr>
        <th>Comments</th>
        <td><textarea id="comments"  name="comments" rows="5" 
                    cols="60">{{ ct_dict.get('comments')[-1] }} </textarea>
        </td>
        </tr>
    </table>
    
    <hr>
<!-- -->
<!-- Options -->
<!-- -->
    <h2>Options</h2>
    {% if ct_dict.get('status')[-1] in ['unobserved', 'scheduled', 'untriggered'] %}
        <table>
            <tr>
            <th>Normal Change</th>
            <td>Any changes other than APPROVAL status</td>
            </tr>
            <tr>
            <th>Observation is Approved for flight</th>
            <td>Adds ObsID to the Approved List - nothing else</td>
            </tr>
            <tr>
            <th>ObsID no Longer ready to go</th>
            <td>REMOVE ObsID from the Approved List - nothing else</td>
            </tr>
            <tr>
            <th>Split this ObsID</th>
            <td style='color:deeppink;'>
                Please add an explanation why you need<br>
                to split this observation in the comment area.
            </td>
            </tr>
        </table>
    
        <table>
            <tr>
            {{ asis_button('norm',   asis, 'Normal Change') }}
            {{ asis_button('asis',   asis, 'Observation is Approved for flight') }}
            {{ asis_button('remove', asis, 'ObsID no longer ready to go') }}
            {{ asis_button('clone',  asis, 'Split this ObsID') }}
            </tr>
        </table>
<!-- -->
<!-- Multi obsid submission -->
<!-- -->
        <p style='padding-top:10px;'>
            If you want to apply the same changes to other obsids, please list them blow.
            <br>
            Please read: 
            <a href="javascript:WindowOpener('../static/ocatdatapage/multi_obsids.html','multi')">
                how to use multiple obsid editing
            </a>
            for more details.
        </p>
        <input type='text' name='obsids_list', value='{{ ct_dict.get("obsids_list")[-1] }}' size=80>
    
        <div style='padding-top:30px;'></div>
    
        <input type='submit' name='submit' value='Submit'>
        <!--<input type='submit' name='check'  value='Refresh'>-->
<!-- -->
<!-- Warning: observation is already observed, archived etc  -->
<!-- -->
    {% else %}

        <p style='padding-bottom:20px;'>
            <strong style='font-size:130%;'>
            {% if ct_dict.get('status')[-1] in ['observed', 'archived', 'triggered'] %}
                This observation was already
            {% else %}
                This observation was 
            {% endif %}

            <span style='color:red;'>{{ ct_dict.get('status')[-1].upper() }}</span>,
            and you cannot update its parameter values anymore.
            </strong>
        </p>

    {% endif %}
    <hr>
<!-- -->
<!-- Links to other pages -->
<!-- -->
    <p style="padding-bottom:20px;">
    <span style="font-size:110%;">Link to:</span><br>
    <a href="javascript:void(0);" onclick="openTab('../express', 'Express');">
        Express Approval
    </a>
    <br>

    <a href="{{ cdo_http }}/review_report/disp_report.cgi?{{ ct_dict.get('proposal_number')[-1] }}">Peer Review Report And Proposal</a>
    <br>

    <a href="{{ hlink }}">
    ChaSeR Sequence Summary (with Roll/Pitch/Visibility, etc.)</a>
    <br>

    <a href='https://cxc.cfa.harvard.edu/cgi-bin/target_search/search.html'>
    Chandra User Observation Search</a>
    </p>

<!-- -->
<!-- parmeter to indicate that values are submitted -->
<!-- -->
    {{ hidden_input('submit_test', ct_dict, value='Yes') }}

    </form>

{% endblock %}

<!-- -->
<!-- javascript to open a page with a sub link only once on another tab -->
<!-- -->

{% block scripts %}
    {{ super() }}
    <script>
        function GoToPage(html, id){
            var  tail  = document.getElementById(id).value;
            var  url   = '../' + html + '/' + tail;

            openTab(url, tail)

        }

    </script>

{% endblock %}

