##
##--- macros for target parameter status page
##

##
##--- macro for each row
##
##--- data[1]: obsid.rev
##--- data[2]: seq #
##--- data[3]: user id
##--- data[4]: general signoff status
##--- data[5]: acis signoff status
##--- data[6]: acis si signoff status
##--- data[7]: hrc si signoff status
##--- data[8]: verified by
##

{% macro data_row(data, current_user, chkupdata=url_for('chkupdata.index')) %}
    <tr>
        <!--Obsid.revision Info-->
        <th class='cent' style='background-color:{{ data[-1][3] }};'>
            <a onclick="javascript:window.open('{{ chkupdata }}{{ data[0] }}', 'Chkupdata{{ data[0] }}')", style="cursor:pointer"><u>{{ data[0] }}</u></a>
            <br>
            {{ data[1] }}<br>
            {{ data[2] }}<br>
            {{ data[3] }}
        </th>
        <!--General Edits-->
        <td style='background-color:rgb(0,179,170,0.3);'>
            {{ cellset(data[4], data[0], 'gen', current_user)  }}
        </td>
        <!-- ACIS Edits-->
        <td style='background-color:rgb(0,179,170,0.3);'>
            {{ cellset(data[5], data[0], 'acis', current_user) }}
        </td>
        <!-- ACIS SI mode edits-->
        <td>
            {{ cellset(data[6], data[0], 'si', current_user)   }}
        </td>
        <!-- HRC SI mode edits-->
        <td>
            {{ cellset(data[7], data[0], 'hrc', current_user)  }}
        </td>
        <!--Verified by-->
        <td>
<!-- -->
<!-- if other entries are still open, you cannot sign-off 'verified by -->
<!-- -->
            {% if data[4] != 'NA' and data[5] != 'NA' and data[6] != 'NA' and data[7] != 'NA' %}
                {{ cellset(data[8], data[0], 'verify', current_user)  }}
            {% else %}
                Not Ready To Verify
            {% endif %}
<!-- -->
<!-- if higher revision is open or already signed-off, show "Close" button -->
<!-- -->
            {% if data[-1][1] != 0 or data[-1][0] == 2 %}
                {% set cname = 'close_' + data[0] %}
                <!--NOTE Turning off close button until we can understnad who shoudl have access.-->
                <!--
                <br>
                <input type='submit' name='{{ cname }}' value='Close'>
                -->
<!-- -->
<!-- if all others are signed-off, show Signoff & Approve button -->
<!-- -->
            {% elif (data[4] != 'NA') and (data[5] != 'NA') and (data[6] != 'NA') and (data[7] != 'NA') and (data[8] == 'NA') and ('admin' in current_user.groups_string or 'usint' in current_user.groups_string) %}
                {% set name = 'approve_' + data[0] %}
                <br>
                <input type='submit' name='{{ name }}' value='Sign-off & Approve'>
            {% endif %}
        </td>
<!-- -->
<!-- Note section: large coordinate shift, higher revision etc. -->
<!-- the last entry of the data list is the indicator of which note to display -->
<!-- -->
        <td>
            {% if data[-1][4] == 1 %}
                <span style='color:darkcyan;'>
                New Comment
                </span>
                <br>
            {% elif data[-1][4] == 2 %}
                <span style='color:darkred;'>
                Unknown Comment Status. Revision File Not Found
                </span>
                <br>    
            {% endif %}

            {% if data[-1][5] == 1 %}
                <span style='color:red;'>Large Coordinate Shift</span>
                <br>
            {% endif %}

            {% if data[-1][0] > 0 %}
                <span style='color:chocolate;'>Multiple Revisions Open</span>
                <br>
            {% endif %}
            {% if data[-1][0] >= 0 and data[-1][1] != 0 %}
                <span style='color:darkorchid;'>
                Higher Rev # {{ data[-1][1] }} Was Already Signed Off
                </span>
                <br>
            {% endif %}
        </td>
            
    </tr>
        
{% endmacro %}


##
##--- macro for each cell
##

{% macro cellset(data, obsrev, head, current_user) %}
    {% if data == 'NA' %}
        {% set name = head + '_' + obsrev %}
        {% if head == 'gen' or head == 'acis' %}
            {% set targ = 'arcops' %}
        {% elif head == 'si' %}
            {% set targ = 'acis' %}
        {% elif head == 'hrc' %}
            {% set targ = 'hrc' %}
        {% elif head == 'verify' %}
            {% set targ = 'usint' %}
        {% endif %}
        {% if 'admin' in current_user.groups_string or targ in current_user.groups_string %}
            <input type='submit' name={{ name }} value='Sign-off'>
        {% else %}
            <p> Sign-off By {{ targ.capitalize() }} Required</p>
        {% endif %}
    {% else %}
        {{ data }}
    {% endif %}
{% endmacro %}

##
##--- popup window for help pages
##


{% macro help_popup_page(html, link_name, font_size=100) %}
<a href="javascript:WindowOpener('{{ html }}', 'orupdate_help', x=1000, y=600)">
    <span style="font-size:{{ font_size }}%;">
   {{ link_name }}
    </span>
</a>
{% endmacro %}

##
##--- order by entry
##

{% macro order_selection(odered_sel, user) %}
    <ul>
        <li> <input type='submit' name='ordered_by'      value='Date of Submission'></li>
        <li> <input type='submit' name='ordered_by'      value='Obsid'> </li>
        <li> 
            <input type='submit' name='ordered_by'      value='User ID:'> 
            <input type='text'   name='ordered_by_user' value="{{ user }}" size='12'>
        </li>
    </ul>
{% endmacro %}
