{% extends 'bootstrap/base.html' %}



{% block html %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv = "refresh" content = "3; url = https://cxc.cfa.harvard.edu/wsgi/cus/usint" />
<title>Redirect to New Usint</title>
</head>
<body>

<center>
<img src="http://cxc.cfa.harvard.edu/incl/header_left.gif" border="0" alt="Chandra Science">

<h1 align=center>Chandra <i> Uplink Support INTerface</i> Organizational Page</h1>

<h2>Redirecting...</h2>
<p>You are being re-directed to the new <b>USINT</b> web application, if nothing happens, please <a href="https://cxc.cfa.harvard.edu/wsgi/cus/usint">follow this link.</a></p>


</center>
</body>
</html> 
{% endblock %}